body {
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 0;
    background-color: #f4f4f4;
}

.search-container {
    display: flex;
    align-items: flex-start;
    padding: 30px;
}

.search-box {
    position: relative;
    margin-right: -30px;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    flex: 1; /* Растягивает поле ввода на всю доступную ширину */
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%); /* Центрирует иконку по вертикали */
}

.filters {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    margin-top: 70px;
    margin-left: -150px;
}

.filters label {
    display: block;
    margin-bottom: 5px;
}

.filters button,
.vacancy-container button{
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    color: #3498db !important;
    text-align: center;
    margin-top: 35px;
    font-size: 2rem;
}

.vacancy-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
