body {
    font-family: Arial, sans-serif;
    /*margin: 15px;*/
    /*padding: 0;*/
    background-color: #f4f4f4;
}

.search-container {
    display: flex;
    /*justify-content: flex-start;*/
    /*align-items: flex-start;*/
    /*height: 100vh;*/
    padding: 50px;
}

.search-box {
    position: relative;
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px 40px 10px 10px;
    border: none;
    border-radius: 5px;
    width: 58%;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 5px;
    right: 60px;
    font-size: 20px;
    cursor: pointer;
}

.filters {
    margin-top: 100px;
    margin-left: -215px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}
.filters label {
    display: block;
    margin-bottom: 10px;
}

.filters button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h2 {
    color: #3498db;
    text-align: center;
    margin-top: 35px;
    font-size: 2rem;

}

.vacancy {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.form {
    width: 50%;
    margin-top: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 0;
    background-color: #f4f4f4;
}
