body {
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 0;
    background-color: #f4f4f4;
}

.search-container {
    display: flex;
    gap: 20px;
    padding: 20px 30px; /* Зменшено відступи для адаптації */
    margin-top: 45px;
}

.filters-container {
    flex: 1;
    margin-right: 10px;
}



.search-box {
    margin-bottom: 50px;
    position: relative;
    margin-top: 70px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 40%;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transform: translateY(-50%);
}

.filters,
.salary-filter,
.location-filter {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.filters label,
.salary-filter label {
    display: block;
    margin-bottom: 5px;
}

h2 {
    color: #3498db !important;
    text-align: center;
    margin-top: 35px;
    font-size: 2rem;
}

#applySalaryFilter,
#applyLocationFilter {
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="number"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.location-input-container {
    display: flex;
    align-items: center;
}

#locationFilter {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.location-icon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .search-container {
        flex-direction: column;
        align-items: center;
    }

    .filters-container {
        margin-right: 0;
    }
}


@media only screen and (max-width: 600px) {
    .vacancy-container {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}
.pagination-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Расстояние между кнопками */
    margin-top: 20px;
    margin-right: 150px;
}

.pagination-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.news-container {
    background-color: #f8f9fa;
    padding: 15px;
    margin-top: 70px;
    border-radius: 5px;
}

.news-container h3 {
    margin-bottom: 15px;
    color: #007bff;
}

.news-list {
    list-style: none;
    padding: 0;
}

.news-list li {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.news-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .pagination-container {
        flex-direction: column;
        align-items: center;
    }
}
.footer-bs {
        background-color: #71828d;
        padding: 60px 40px;
        color: rgba(255, 255, 255, 1.00);
        margin-bottom: 20px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 6px;
        width: 100%;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
    .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgb(99, 188, 229); }
}