#vacancyContainer {
    margin-top: 50px;
    width: 100%;
}

.card {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    width: 70%;
    max-width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    margin: 20px 150px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 2px solid #3498db;
}


.job-title {
    color: #3498db;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.job-details {
    width: 100%;
}

.job-details td {
    padding: 6px;
}

.job-details td i {
    margin-right: 4px;
    color: #3498db;
}
.favorite-icon {
    text-align: right;
    margin-top: 10px;


}
.fa-heart {
    font-size: 24px;
    transition: color 0.3s, background-color 0.3s;
    margin-right: 5px;
    cursor: pointer;

}

.fa-heart:hover {
    color: blue;
    background-color: transparent;
}


.respond-button {
    background-color: transparent;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 10px;
    text-align: center;
}

/*.respond-button:hover {*/
/*    color: red; !* Цвет текста изменится при наведении на прозрачную кнопку *!*/
/*}*/


